* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body,
#root,
main {
  width: 100%;
  height: 100%;
}

.logo {
  animation: logo-spin infinite 20s linear;
  height: 80px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  cursor: pointer;
  margin: 5px;
  i {
    margin: 0 5px 0 5px;
  }
  &:focus,
  &:active {
    outline: none;
  }
  &.disabled,
  &:disabled,
  &[disabled] {
    cursor: not-allowed;
  }
}

a {
  i {
    margin: 0 5px 0 5px;
  }
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-group {
  &.has-feedback {
    min-height: 56px;
    margin-bottom: 0;
    input {
      height: 32px;
    }
  }
  .invalid-feedback {
    margin-top: 0;
    color: #f59ea6;
  }
  .form-control {
    &:disabled,
    &[readonly] {
      cursor: not-allowed;
      background-color: rgba(255, 255, 255, 0.75);
    }
  }
}